body{
    background-color: #F8F9FA !important;
}

nav{
    background-color: #10002b !important;
}

nav ul li a{
    text-transform: uppercase;
    font-size: small;
    margin-left: -0.5rem;
}

.col:hover{
    transform: scale(1.03);
    box-shadow: #10002b;
}